.viewTop {
  width: 1500px;
  margin: 0 auto;

  .header-message {
    width: 85%;
    margin: 0 0 0 110px;



    .left {
      float: left;

      margin: 0 0 0 10px;
    }

    .right {
      float: right;
      margin: 0 0 0 10px;
    }
  }

  .iconImage {
    padding: 30px 280px;

    .logo {
      float: left;
    }

    .search {
      width: 60%;
      margin: 0 auto;
      float: left;
      margin: 6px 0px 0px 80px;
      height: 58px;
    }
  }
}
