.meun {
  .ulShop {
    width: 200px;
    .ulShopLi {
      line-height: 50px;
      height: 50px;
      font-size: 14px;
      text-align: center;
      background-color:rgb(84, 92, 100);
      font-weight: bold;
      color: rgb(255, 255, 255);

      .service-arrow {
        position: absolute;
        right: 10px;
        font-size: 12px;
      }
    }
    
  }
}
